.mod-conflicts

  h3
    font-size: 20px
    color: darken($blue, 15)

  table
    width: 100%
    margin-top: 15px

    th.conflict_policy_name
      width: 40%

    th.conflict_idps
      width: 55%

    th.conflict_controls
      width: 5%
      text-align: right

    tr:last-child td
      border-bottom: 1px solid #F9F9F9