.mod-policy-detail

  div.bottom
    margin-top: 25px
    height: 1px
    border-bottom: 1px solid $light-grey

  .form-element
    padding: 5px 70px 10px 40px
    margin: 25px 0px 0px 0px

    &.success
      border-left: 4px solid $blue

    &.failure
      border-left: 4px solid $medium-grey

    &.form-title
      font-size: large
      border-bottom: 1px solid $light-grey
      padding: 25px 300px 25px 40px

    p.label
      margin: 5px 0px
      color: $blue

      &.before-em
        margin: 0px

    p.info
      font-weight: 700

    .c-button.cancel
      float: right

    .c-button.submit
      width: 180px

    em
      font-size: 13px

  .column-3
    display: inline-block
    width: 33%
    vertical-align: top
