.mod-policy-overview
  th.policy_name_col
    width: 20%

  th.policy_description_col
    width: 30%

  th.policy_sp_col
    width: 14%

  th.policy_idps_col
    width: 14%

  th.policy_controls
    width: 22%

  td.policy_controls
    text-align: right
