.mod-policy-overview
  div.new-policy
    margin-left: auto
    margin-right: auto
    width: 340px
    margin-top: 20px

    a.c-button
      width: 340px
      text-align: center
      font-size: larger

  th.policy_name_col
    width: 20%

  th.policy_description_col
    width: 30%

  th.policy_sp_col
    width: 14%

  th.policy_idps_col
    width: 14%

  th.policy_controls
    width: 22%

