.mod-revisions

  .sub-container

    .compare
      position: absolute
      right: 10px
      top: 15px
      font-size: 24px
      padding: 3px 8px

      &:hover, &.selected
        text-decoration: none
        background: darken(white, 5)

  .top-diff
    border-top-left-radius: 5px
    border-top-right-radius: 5px
    padding: 30px 70px 10px 40px
    border-bottom: 1px solid #EFEFEE

    span.curr
      color: $green

    span.prev
      color: $red

  .diff-panel
    clear: both