.l-main
  padding: 30px
  +clearfix

  .l-left
    width: 300px
    padding-right: 30px
    float: left

  .l-right
    margin-left: 300px
    padding-left: 30px

.l-center
  margin: 0 auto
  padding: 30px
  position: relative
  +clearfix

  .l-left
    width: 200px
    float: left
    padding-right: 30px

  .l-right
    float: right
    width: 300px
    padding-left: 30px
    right: 0

  .l-split-left
    width: 49%
    float: left

  .l-split-right
    float: right
    width: 49%

  .l-middle
    max-width: 1000px
    padding: 30px 300px 30px 200px
    margin-left: auto
    margin-right: auto

    &.no-left
      padding-left: 40px

    &.form-element-container
      max-width: 800px
      padding: 0px 0px 30px 0px

.l-mini
  margin: 0 auto
  max-width: 1000px
  padding: 30px
  position: relative
  +clearfix


