.c-button
  background: $blue
  padding: 7px 15px
  border-radius: $br
  color: #fff
  text-decoration: none
  display: inline-block

  &:hover
    background: darken($blue,10)

  &.narrow
    padding: 3px 10px

  &.disabled
    opacity: 0.5
    pointer-events: none
