span.select2-selection__clear
  color: $remove-red
  font-size: 24px

span.select2-selection__choice__remove
  color: $remove-red


.select2-container--default
  .select2-selection--single
    .select2-selection__placeholder
      color: $dark-grey
