span.select2-selection__clear
  color: $remove-red
  font-size: 24px

span.select2-selection__choice__remove
  color: $remove-red

.select2-container--default

  .select2-selection--single

    .select2-selection__placeholder
      color: $medium-grey

  .select2-search--dropdown
    .select2-search__field
      font-size: 14px
      color: $dark-grey

#policies_table_length
  margin: 10px 0px 0px 0px

#violations_table_length
  margin: 00px 0px 10px 0px

#policies_table_length, #violations_table_length

  select
    font-size: inherit
    color: #2b3f44
    border: 1px solid #a2a2a2
    background: white
    height: 30px
    width: 60px
    margin: 0px 5px