table.dataTable tbody tr:nth-child(odd)
  background-color: #F9F9F9
.dataTables_wrapper
  .dataTables_length, .dataTables_info, .dataTables_filter
    margin: 10px

table.dataTable a
  margin: 0px 10px

  &.red
    color: #70000e

th.policy_name_col
  width: 20%
th.policy_description_col
  width: 30%
th.policy_sp_col
  width: 20%
th.policy_idps_col
  width: 20%
th.policy_controls
  width: 10%