---
# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI

on:
  push:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'adopt'
          cache: 'maven'

      - name: Set up MySQL
        uses: shogo82148/actions-setup-mysql@v1
        with:
          distribution: "mariadb"
          mysql-version: "10.6"

      - run: >
          mysql -uroot -h127.0.0.1 -e "
            CREATE DATABASE pdpserver CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_520_ci;
            CREATE USER 'pdp'@'localhost' IDENTIFIED BY 'secret';
            GRANT ALL privileges ON pdp.* TO 'pdp'@'localhost';
            FLUSH PRIVILEGES;
          "

      - name: Build with Maven
        run: mvn clean install --file pom.xml

      - name: Codecov

        uses: codecov/codecov-action@v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
